@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
}

button {
  border: none;
  background-color: none;
}

.container {
  @apply min-h-screen flex items-center justify-center flex-col p-5;
}

.title {
  @apply text-purple-600 text-xl md:text-2xl mb-6;
}

.correct {
  @apply bg-green-400 text-white;
}

.wrong {
  @apply bg-purple-800/5 text-zinc-300;
}
