@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f0f0;
}

button {
  border: none;
  background-color: none;
}

.container {
  @apply min-h-screen flex items-center justify-center flex-col px-5;
}

.title {
  @apply text-purple-600 text-2xl;
}

.correct {
  @apply bg-green-400 text-zinc-100 font-bold;
}

.wrong {
  @apply bg-purple-800/5 text-zinc-100;
}
