@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
}

button {
  border: none;
  background-color: none;
}

.theme-dark {
  --bg-color: #1c1c1c;
  --text-color: #f2f2f2;
}
.theme-light {
  --bg-color: #fafafa;
  --text-color: rgb(147 51 234);
}
.container {
  @apply min-h-screen flex items-center justify-center flex-col p-5;
}

.title {
  @apply text-purple-600 text-sm sm:text-xl md:text-2xl mb-6;
}

.correct {
  @apply bg-green-400 text-white;
}

.wrong {
  @apply bg-purple-800/5 text-zinc-300;
}

.anime {
  opacity: 0;
  transform: translateX(-10px);
  animation: anime 0.3s forwards;
}

@keyframes anime {
  to {
    transform: initial;
    opacity: 1;
  }
}
